@font-face {
	font-family: bluprint;
	src: url('../BluprintDEMO.otf');
}

body {
	background: #4B79A1;
    background: -webkit-radial-gradient(#345673 , #0e1c27);
    background: radial-gradient( #345673 , #0e1c27);
    color: white;
    font-family: 'muli';
    font-weight: 400;
}

section{
	width: 100%;
}


h2, h3 {
	margin: 2vh 0px;
	font-family: 'arvo';
	font-weight: 700;
	font-size: 40px;
	text-shadow: 2px 2px 5px #1B3042;
}

h3 {
	font-size: 30px;
	margin-top: 4vh;
}

.lightblue {
	text-shadow: none;
}

.container h1{
	text-align: center;
}

.invertsvg {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
/****************NAVBAR****************/

#logo{
	width: 50px;
	margin: 10px 0px 10px 100px;
}

.navbar-nav li{
	margin-top: 10px; 
}

.navbar{
	border-radius: 0px;
	margin-bottom: 0;
	background-color: #152E41;
}
/****************TITLE****************/

.one{
	height: 75vh;
	width:100%;
	background-image: url('../images/blueprint-2.jpg');
	background-repeat: repeat;
	text-align: center;
	font-family: 'bluprint';
	color: white;	
	filter: brightness(90%);
}

#vector {	
	font-size: 50vmin;
	margin-top: 15vh;
	margin-bottom: 0px !important;
    -webkit-margin-before: none;
    -webkit-margin-after: none;
    font-weight: 400;
}

.myButton2 {
	background-color:white;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	display: inline-block;
	cursor: pointer;
	font-family: 'Muli';
	font-weight: 800;
	font-size: 17px;
	padding: 7px 25px;
	transition: .5s;
	margin-top: 10px; 
	text-decoration: none;
}

.myButton2:hover {
	margin-top: 5px; 
	transition: margin .5s;
	text-decoration: none;
	color: #FCB956;
}
.myButton2:active {
	background-color:#bab1ba;
	text-decoration: none;
}

.myButton2:visited{
	text-decoration: none;
}

/****************INFO****************/

.itsasectionbitch {
	padding: 5vh 0;
}

.two{
	text-align: center;
}

.col-md-2.icon {
	padding: 35px;
	box-sizing: border-box;
	fill: #78ABD8;
  	stroke: #78ABD8;
}

.test {
	background-color: blue;
	-webkit-mask-image: url("https://image.flaticon.com/icons/svg/136/136795.svg");
	mask-image: url("https://image.flaticon.com/icons/svg/136/136795.svg");
	fill: blue;
}

path {
  fill: #78ABD8;
  stroke: #78ABD8;

}

.slidemenu {
	padding: 50px;
	background-color: rgba(0,0,0,0.5);
}

/****************INFO (DETAILED)****************/

#detailed-information{
	width: 100%;
	background-color: #3187C8;
	display: none;
}

/****************PORTFOLIO****************/

.four{
	height: 50vh;
}


/****************TESTIMONIALS****************/

#testimonial{
	width: 100%;
	background-color: #000;
	padding: 20px 0px; 
}

.testimonialtext h2{
	margin-bottom: 20px; 
	vertical-align: middle;
}

.testimonialtext p{
	font-size: 20px;
}
/****************PROJECT LEADS****************/
#leads{
	padding: 20px 0px 40px 0px; 
}

.button{
	border: 2px solid white;
	display: inline-block;
	padding: 10px 30px 10px 30px;
	text-align: center;
	text-decoration: none;
	color: white;
}
.button:hover{
	background-color: white;
	color: #345673;
}
/****************HC STUFF****************/
#hackcville{
	width: 100%;
	background-color: #FFF;
	text-align: center;
	padding: 20px 0px; 
}

#hackcville h1{
	color: black;
	font-size: 50pt;
	margin-bottom: 20px;
}

.holder-1{
	color: steelblue;
}

/****************CONTACT****************/
.eight h1{
	margin-bottom: 40px; 
}


